:root {
  --background: #535353;
  --blue: #9DA1BB;
  --gold: #a29a82;
}

html,
body,
#root,
.bg,
canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: var(--background);
  color:var(--blue);
}

html {
  overflow: hidden;
  height: 100%;
  color:var(--blue);
}
h1,h2,h3{
  color:var(--blue);
}

p,label{
  color:var(--gold);
}

body {
  height: 100%;
  overflow: auto;
}
.side--container{
  position:fixed;
  top: 0;
  left: 1%;
}

.side--item{
  font-size: .5rem;
}
